.flex-container {
    display: flex;
    background-color: aquamarine;
}

.flex-create-board {
    display: flex;
    justify-content: flex-end;
    flex-grow: 10;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    justify-self: center;
    height: 40px;
}

.input {
    width: 100px;
}